{% extends 'base.html' %}
{% block head_title %}
t
{% endblock %}

{% block content %}
HOME PAGE TWEET ME
<div id = "tweets" >
Replace Me
</div>


<div class="row" >
<div class="col-md-4 mx-auto col-10">
    <form action="/create-tweets/" method="POST" class="form">
        {% csrf_token %}
        <input type="hidden" value="/" name="next">
        <textarea name="content" id="" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary" >Tweet</button>
    </form>

</div>
</div>



<script>
const tweetsElements = document.getElementById("tweets")


const xhr = new XMLHttpRequest()
const method = "GET"
const url = "/tweets"
const responseType = "json"

xhr.responseType = responseType
function handleDidLike( tweet_id, currentCount ){
    console.log(tweet_id, currentCount)
}
  function Likebtn(tweet){
    return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + tweet.id + ", "+ tweet.likes +")>"+ tweet.likes+ " Likes</button>"
}
xhr.open(method, url)
function formatTweet(tweet){
    var ftweet = "<div class='mb-4'id = 'tweet-" 
    + tweet.id + "'><h1>" +  tweet.id + "</h1><p>" 
                    + tweet.content +   Likebtn(tweet) +   
            "</p></div>"
    return ftweet
}
xhr.onload = function() {
    console.log("he")
 
    const items = xhr.response.response
    console.log(items)
    var finalTweetString = ""
    var i; 
    for(i = 0; i<items.length; i++){
        console.log(i)
        console.log(items[i])
        var tweet_data =  formatTweet(items[i])
        finalTweetString = finalTweetString + tweet_data 
    }
    tweetsElements.innerHTML = finalTweetString

    
}

xhr.send()
</script>

{% endblock content %}